.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
  }
  
  .contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8b7973;
  }

  .form {
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }
  
  .form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form__label--item{
    color: #8b7973;
  }

  .form__label--required {
    border-radius: 3px;
    color: red;
  }

  &[type="submit"] {
    background: #82756A;
    color: #fff;
  }
  
  input,select,textarea {
    border: none;
    padding: 0.5rem 1rem;
    background: #f4f4f4;
  }
  .form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
  }

  .form__input--text {
    color: #C5B9B0;
  }
  
  
  